<%= render "shared/notice" %>

<h2 class="ui dividing header title">
  Bookmarks
  <%= link_to 'Add a bookmark', new_bookmark_path, { class: "positive ui right floated small button" } %>
</h2>

<% if @bookmarks.present? %>
  <div class="ui four stackable cards bookmark-list">
    <%- @bookmarks.each do |bookmark| %>
      <%= render "bookmarks/shared/card", bookmark: bookmark %>
    <% end %>
  </div>
<% else %>
  <div class="ui cube shape nobookmark-placeholder">
    <div class="sides">
      <div class="active side">
        <div class="content">
          <div class="center">
            Looks like nothing here :(
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

