<%= render "shared/notice" %>

<h2 class="ui dividing header title">
  Bookmarks
</h2>

<%= link_to 'Add a bookmark', new_bookmark_path, { class: "positive ui right floated small button" } %>

<% if @bookmarks.present? %>
  <div class="ui cube shape">
    <%- @bookmarks.each do |bookmark| %>
      <div class="ui cards">
        <%= render "bookmarks/shared/card", header: bookmark.title,
          meta: "2 days ago", description: bookmark.description, extra: "testament" %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="ui cube shape nobookmark-placeholder">
    <div class="sides">
      <div class="active side">
        <div class="content">
          <div class="center">
            Looks like nothing here :(
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

