.ui.main.container
  %h1 Bookmarklet
  %p You can use a bookmarklet with the javascript code above. With this bookmarklet, you can add a new bookmark with one click.
  %a.ui.basic.button{href: @bookmarklet_js}
    %i.icon.external
    Bookmark this link

  %h3 Source Code
  .ui.ignored.message
    %pre
      %code{style: 'font-family: "Courier New", Consolas, monospace;'}
        = @bookmarklet_js
