= form_for :session, url: session_path, html: { class: "ui large form" } do |form|
  .ui.stacked.segment
    .ui.field
      .ui.left.icon.input
        %i.user.icon
        = form.text_field :email, type: 'email', placeholder: "E-mail"
    .ui.field
      .ui.left.icon.input
        %i.lock.icon
        = form.password_field :password, placeholder: "Password"
    .ui.fluid.large.teal.submit.button
      Login
  .ui.error.message
    // TODO
