.column
  %h2.ui.grey.image.header
    = image_tag "logo_small", class: "image"
    .content
      Login to Slip.it
  = render '/sessions/form'
  .ui.message
    New to Slip.it?
    = link_to "Sign up", sign_up_path

