<% if resource.errors.present? %>
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      <%= resource.errors.full_messages.first %>
    </div>
  </div>
<% end %>
