<% if resource.errors.present? %>
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">Error</div>
    <p><%= resource.errors.full_messages.first %></p>
  </div>
<% end %>
