- set_meta_tags title: ["Tags", @tag.name]

%h2.ui.dividing.header.title
  = "#{@tag.name} (#{@tag.bookmark_counts})"
- if @bookmarks.present?
  = render "bookmarks/shared/card_view", bookmarks: @bookmarks
- else
  .ui.cube.shape.nobookmark-placeholder
    .sides
      .active.side
        .content
          .center
            Looks like nothing here :(

