%h2.ui.dividing.header.title
  = "#{@tag.name} (#{@tag.bookmark_counts})"
- if @bookmarks.present?
  .ui.four.stackable.cards.bookmark-list
    - @bookmarks.each do |bookmark|
      = render "bookmarks/shared/card", bookmark: bookmark
- else
  .ui.cube.shape.nobookmark-placeholder
    .sides
      .active.side
        .content
          .center
            Looks like nothing here :(

