<div class="card">
  <div class="content">
    <div class="header">
      <%= header %>
    </div>
    <div class="meta">
      <%= meta %>
    </div>
    <div class="description">
      <p><%= description %></p>
    </div>
  </div>
  <div class="extra content">
    <%= extra %>
  </div>
</div>
