<div class="ui sidebar inverted vertical menu">
  <div class="item">
  </div>

  <%= link_to 'Home', { controller: 'bookmark', action: 'index' }, { class: 'item' } %>

  <div class="item">
    <div class="header">
      Tags
    </div>
    <div class="menu">
      <a class="item">
        grape
      </a>
      <a class="item">
        banana
      </a>
      <a class="item">
        orange
      </a>
    </div>
  </div>

  <div class="item">
    <div class="header">
      Other
    </div>
    <div class="menu">
      <a class="item">
        Manage tags
      </a>
      <a class="item">
        Manage bookmarks
      </a>
    </div>
  </div>
</div>
