<%= render partial: "sidebar" %>
<div class="pusher">
  <div class="article">
    <div class="main ui container">
      <h2 class="ui dividing header">
        Bookmarks
      </h2>

      <div class="ui cards">
        <%= render partial: "card", locals: {
          header: "All over the world",
          meta: "2 days ago",
          description: "Hello world guys",
          extra: "testament"
        } %>

        <%= render partial: "card", locals: {
          header: "All over the world",
          meta: "2 days ago",
          description: "Hello world guys",
          extra: "testament"
        } %>

        <%= render partial: "card", locals: {
          header: "All over the world",
          meta: "2 days ago",
          description: "Hello world guys",
          extra: "testament"
        } %>
      </div>
    </div>
  </div>
</div>
