/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import 'semantic-ui';

html, body {
  margin: 0;
  padding: 0;
}

.article {
  margin-top: 50px;
}

.ui.attached.toggle.button {
  margin-bottom: 0.5px;
  box-shadow: none !important;
  border-radius: 0 !important;
  background-color: inherit;
}

.pusher {
  .ui.dividing.header.title {
    padding-bottom: 10px;
  }

  .nobookmark-placeholder {
    padding: 0;
    width: 100%;

    .center {
      color: #9f9f9f;
    }
  }
}

.bookmark-list.ui.cards .card {
  cursor: pointer;

  &:hover {
    -webkit-transform: translate(1px, 1px);
    -moz-transform: translate(1px, 1px);
  }

  .extra.content {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
