/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import 'semantic-ui';

html, body {
  margin: 0;
  padding: 0;
}

.header.item img.logo {
  margin-right: 1.5em !important;
}

.main.container {
  margin-top: 7em;
}

.ui.dividing.header.title {
  padding-bottom: 10px;
}

.nobookmark-placeholder {
  padding: 0;
  width: 100%;

  .center {
    color: #9f9f9f;
  }
}

.bookmark-list.ui.cards .card {
  cursor: pointer;

  &:hover {
    -webkit-transform: translate(1px, 1px);
    -moz-transform: translate(1px, 1px);
  }

  img.favicon {
    margin-top: -4px;
  }

  .extra.content {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
