// Place all the styles related to the bookmark controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article {
  margin-top: 50px;
}

.ui.attached.toggle.button {
  margin-bottom: 0.5px;
  box-shadow: none !important;
  border-radius: 0 !important;
  background-color: inherit;
}

.pusher {
  .ui.dividing.header.title {
    padding-bottom: 10px;
  }

  .nobookmark-placeholder {
    padding: 0;
    margin-top: 30px;
    width: 100%;

    .center {
      color: #9f9f9f;
    }
  }
}
