<!DOCTYPE html>
<html>
  <head>
    <title>SlipIt</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="#" class="header item">
          <img class="logo" src="https://semantic-ui.com/examples/assets/images/logo.png" />
          Slip.it
        </a>
      </div>
    </div>

    <div class="ui main container">
      <%= yield %>
    </div>
  </body>
</html>
